<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-external-link-square"></i> Image information
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>Image</label>
                <file-input ng-model="item.src"></file-input>
            </div>

            <div class="form-group">
                <label>Link</label>
                <input type="text" ng-model="item.href" class="form-control">
            </div>

            <div class="form-group">
                <label>Title</label>
                <input type="text" ng-model="item.title" class="form-control">
            </div>

            <div class="form-group">
                <label>Alt</label>
                <input type="text" ng-model="item.alt" class="form-control">
            </div>
        </div>
    </div>
</div>