<!doctype html>
<html ng-app="mcms">
<head>
    <link rel="stylesheet" href="/assets/css/min/styles.min.css">
    <title>{% block title %}Mcms Admin{% endblock %}</title>
    <script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body class="login example2">

{% block content %}{% endblock %}

<script>
    var Login = function () {
        var runLoginButtons = function () {
            /*$('.forgot').bind('click', function () {
             $('.box-login').hide();
             $('.box-forgot').show();
             });
             $('.register').bind('click', function () {
             $('.box-login').hide();
             $('.box-register').show();
             });
             $('.go-back').click(function () {
             $('.box-login').show();
             $('.box-forgot').hide();
             $('.box-register').hide();
             });*/

            var el = $('.box-login');
            if (getParameterByName('box').length) {
                switch(getParameterByName('box')) {
                    case "register" :
                        el = $('.box-register');
                        break;
                    case "forgot" :
                        el = $('.box-forgot');
                        break;
                    default :
                        el = $('.box-login');
                        break;
                }
            }
            el.show();




        };



        //function to return the querystring parameter with a given name.
        var getParameterByName = function(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        };


        return {
            //main function to initiate template pages
            init: function () {
                runLoginButtons();

            }
        };
    }();
    jQuery(document).ready(function() {
        Login.init();
    });
</script>
</body>
</html>