watching model:
<div class="btn btn-lg btn-primary" ngf-select ng-model="VM.files">Upload using model $watch</div>
<div class="btn btn-lg btn-primary" ngf-select ngf-change="VM.upload($files)">Upload on file change</div>
Drop File:
<div ngf-drop ng-model="VM.files" class="drop-box"
     ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
     ngf-accept="'image/*'">Drop Images</div>

Image thumbnail: <img ngf-src="VM.files[0]" ngf-default-src="/assets/img/no-image.png" ngf-accept="'image/*'">